*{
    margin: 0px;
    padding: 0px;
}

.header{
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4,9,30,0.7)),url(images/bg.jpg); /* not final bg image */
    background-position: center;
    background-size: cover;
    position: relative;

    font-family: Poppins;
    color: white;
}

.header img{
    width: 100px;
}

.header .links{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.header .links{
    flex: 1;
    text-align: right;
}

.header ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.header ul li a{
    color: #fff;
    text-decoration: none;
}

.header ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.header ul li:hover::after{
    width: 100%;
}

.title-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-text h1{
    font-size: 62px;
}

#xmark{
    display: none;
}

#menu{
    display: none;
}
@media(max-width: 700px) {
    *{
        overflow-x: hidden;
    }
    .title-text h1{
        font-size: 52px;
    }

    .links img{
        margin-top: 30px;
    }

    .links ul li{
        display: block;
    }

    .links ul{
        position: absolute;
        background: #1a6985;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        padding-top: 0px;
        transition: 1s;
        
    } 

    #xmark{
        width: 150px;
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        transition: 1s;
    }
    
    #menu{
        right: 30vw;
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 1s;
    }

    .links ul li{
        padding-left: 30px;
        padding-bottom: 15px;
    }

    

}
